@tailwind base;
@tailwind components;
@tailwind utilities;

/* Select2 Height Fix */
.select2-container .select2-selection--single {
    height: 42px !important;
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db !important;
    /* gray-300 */
    border-radius: 0.375rem !important;
    /* rounded-md */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}

[x-cloak] {
    display: none;
}